body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

ul,ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.main_header {
background: #FFF;
}

.nav {
color:#2E2F42;
}

.logo {
color:#4D5AE5;
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.span_logo {
color:#2E2F42;
}

.nav-list a {
color:#2E2F42;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
}

.nav_list a:hover, 
.nav-list:focus {
color:#404BBF;
}


.nav_link a:hover, 
.nav-link:focus {
color:#404BBF;
}

.nav_item_studio:active {
text-decoration: underline;
}

.address_header {
font-style: normal;
}

.address_list a {
color: #434455;
}

.address_item a:hover, 
.address_item:focus {
    color: #404BBF;
    }
    
.nav_item_studio {
color: #2E2F42;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.nav_item_portofolio {
 color: #2E2F42;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;  
}
.nav_item_contacts {
color: #2E2F42;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}

.address_item {
color: #434455;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

/* Section one */
.container_main_title {
background-color: #2E2F42;
}

.main_title {
color: #FFFFFF;
text-align: center;
font-family: Roboto;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}

.btn {
background-color: #4D5AE5;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
cursor: pointer;
font-style: normal;
line-height: 1.5;
letter-spacing: 0.04em;
}

.btn a:hover {
    background-color: #404BBF;
}

.btn:focus {
background-color: #404BBF;
    }



.main_footer {
background-color: #2E2F42;
}

.logo_footer {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
}
.span_logo_footer {
color: #f4f4fd;
}

.text_footer {
color: #f4f4fd;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}