body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

ul,ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.main_header {
width: 1440px;
height: 72px;
flex-shrink: 0;
border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF);
}

.nav {
display: inline-flex;
align-items: flex-start;
gap: 40px;
color: #2E2F42;
}

.logo {
width: 44px;
color: var(--IRIS, #4D5AE5);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.span_logo {
width: 71px;
color: #2E2F42;
}

.nav-list a {
    color:#2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav_link a:hover, 
.nav-link:focus {
    color: #404BBF;
}

.nav_item_studio:active {
text-decoration: underline;
}

.adress_list a {
color: #434455;
}

.adress_list a:hover, 
.adress_list:focus {
    color: #404BBF;
    }
    
.nav_item_studio {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
.nav_item_portofolio {
    color: #2E2F42;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;  
}
.nav_item_contacts {
    color:#2E2F42;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}