body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

.main_header {
width: 1440px;
height: 72px;
flex-shrink: 0;
border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
background: var(--WHITE, #FFF);
}

.nav {
display: inline-flex;
align-items: flex-start;
gap: 40px;
color: #2E2F42;
}

.logo {
width: 44px;
color: var(--IRIS, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}

.span_logo {
width: 71px;
color: var(--NAVY-BLUE, #2E2F42);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}

.nav_item_studio {
    color: var(--NAVY-BLUE, #2E2F42);

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.nav_item_portofolio {
    color: var(--NAVY-BLUE, #2E2F42);

    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;  
}

.nav_item_contacts {
    color: var(--NAVY-BLUE, #2E2F42);

/* Body Medium */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}

.nav_link {

}

.address {

}

.address_list {
    color: var(--SLATE, #434455);

/* Body */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}

.address_item {
    color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.container_main_title {

}

.main_title {

}

.btn {

}

.container_advantage {

}

.advantage_title {

}

.advantage_list {

}

.advantage_item {

}

.advantage {

}

.advantage_text {

}

.container_our_team {

}

.our_team_title {

}

.our_team_list {

}

.name_item {

}

.name_title {

}

.proffessions {

}

.text_footer {

}